<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    <title>
      <%= current_page.data.title %> | api.data.gov
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="en" name="language">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Abel%7CLato%3A100%2C300%2C400%2C700&#038;ver=3.8">
    <%= stylesheet_link_tag("all") %>
    <%= partial("layouts/analytics") %>
  </head>
  <body class="blank <%= page_classes %>">
    <%= yield %>
  </body>
</html>
