<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    <%= partial("layouts/head") %>
  </head>
  <body class="archive category <%= page_classes %>">
    <%= partial("layouts/header") %>
    <%= yield %>
    <%= partial("layouts/disqus") %>
    <%= partial("layouts/edit_me") %>
    <%= partial("layouts/footer") %>
  </body>
</html>
